<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand fw-bold" href="/">Express</a>
   
    
    <div class="navbar-nav d-flex justify-content-between flex-row gap-4">
      
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      
      
        <a class="nav-link active" href="/about">About</a>

        <a class="nav-link active" href="/products">Products</a>
      
      
    </div>
  
  </div>
</nav>